[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
"jinja2" = "*"

[dev-packages]
pylint = "*"
pytest = "*"
mypy = "*"
black = "==18.6b4"
setuptools = "*"
wheel = "*"
twine = "*"
pre-commit = "*"

[requires]
python_version = "3.6"
